body{
    font-family: Arial;
    background:#f9f9f9;
    color: #7e580c;
}

.container{
    width:320px;
    margin:80px auto;
    background: #e3c487;
    padding:20px;
    border-radius:8px;
}

input{
    width:93%;
    padding:10px;
    margin:8px 0;
}
button{
    width:100%;
    padding:10px;
    margin:8px 0;
    background-color: #7e580c;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 00;
    
}